@charset "utf-8";

#globalheader-container {
    display:none;
}
#container {
    padding-top: 0px;
}
.footer-action-wrapper{
    display:none;
}
.touch-item-list{
    display:none;
}
.date{
    color: white;
    background: #444B99;
    padding: 0px 10px;
}
.entry-content h2{
    padding: 10px 15px;
    border-top: 3px solid #a4a4a4;
    border-bottom: 3px solid #a4a4a4;
    }
.entry-content h3{
    padding: 5px 15px; 
    border-left: 10px solid #a4a4a4;
    border-bottom: 1px solid #a4a4a4;
    }
.entry-content h4{
    background: #f3f3f3;
    padding: 5px 15px; 
    border-left: 10px solid #a4a4a4;
    }
.entry-content h5{
    padding: 5px 15px; 
    border-left: 10px solid #a4a4a4;
    }
.entry img{
    margin: 0 auto;
    display: block;
    border: 1px #DCDCDC solid;
}
.hatena-module-title{
    padding-left: 10px;
    border-bottom: 3px solid #444B99;
}
.bg-frame{
    border: 2px solid #DCDCDC;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
}
.bg-blue {
    color: #FFFFFF;
    background: #003399;
    padding: 1px 2px;
    border-radius: 2px;
}
.bg-orange {
    color: #FFFFFF;
    background: #FF6633;
    padding: 1px 2px;
    border-radius: 2px;
}
.redbox {
    border: 2px solid #FF66CC;
    background-color: #FF99CC;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
}
div #breadcrumb div {
    display: inline;
    font-size: 13px;
}
