.bg-frame {
    border: 2px solid #DCDCDC;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
}
.bg-blue {
    color: #FFFFFF;
    background: #003399;
    padding: 1px 2px;
    border-radius: 2px;
}
.bg-orange {
    color: #FFFFFF;
    background: #FF6633;
    padding: 1px 2px;
    border-radius: 2px;
}
.redbox {
    border: 2px solid #FF66CC;
    background-color: #FF99CC;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
}
